#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 0.3s;
}

.logo:hover { 
  filter: drop-shadow(0 0 2em #646cffaa); 
}

.logo.react:hover { 
  filter: drop-shadow(0 0 2em #61dafbaa); 
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

@media (prefers-reduced-motion: no-preference) {
  .logo.spin {
    animation: spin 20s linear infinite;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
